@import './../../../App.scss';

input[type='button'] {
  background-color: transparent;
  width: fit-content;
  border-radius: 50px;
  border: 2px solid $third-color;
  color: $third-color;
  padding: 0px 10px;
  margin-top: 10px;
  transition: 0.5s;
  z-index: 2000;

  &:hover {
    color: $primary-color;
    background-color: $additional-color;
    border: 2px solid transparent;
    letter-spacing: 1.1px;
    transition: 0.5s;
  }
  &:active {
    color: $additional-color;
    background-color: $primary-color;
  }
}
