@import './../../App.scss';

$rotation-degrees: 360deg;
$animation-duration-time: 5s;

.article-container {
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  top: 0;
  left: 0;
  width: 90%;
  height: fit-content;
  filter: blur(0.7px);
  color: $palette-ocean-color;
  font-size: x-large;
  transform-style: preserve-3d;
  z-index: -1;

  .cloud-items {
    width: 50%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@media screen and (max-width: 1375px) {
  .article-container {
    display: none;
  }
}
