@import './../../App.scss';

.main-splited {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  box-sizing: border-box;
  min-height: 100vh;
  max-width: 80vw;
}

@media screen and (max-width: 1375px) {
  .main-splited {
    flex-direction: column;
    width: 80vw;
    margin-left: 2vw;
  }
}

@media screen and (max-width: 500px) {
  .main-splited {
    flex-direction: column;
    min-width: 100%;
    min-height: 70vh;
    margin: 0;
    padding: 15px;
  }
}
