@import './../../App.scss';

.main-splited {
  position: relative;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  min-height: 100vh;

  &.primary {
    background-color: $primary-color;
    color: $secondary-color;
  }
  &.secondary {
    background-color: $secondary-color;
    color: $primary-color;
  }
}
