@import './../../App.scss';

aside {
  position: fixed;
  display: flex;
  justify-content: flex-start;
  background-color: $palette-stone-dark-grey-color;
  min-width: 200px;
  width: 13%;
  height: 100%;

  transition: 0.5s;
  z-index: 100;

  .version {
    width: 100%;
    text-align: center;
    color: $palette-creamy-white-color;
  }

  &.narrow {
    width: 50px;
    transition: 0.5s;
  }

  .aside-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    box-sizing: border-box;
    padding: 20px 0;

    .img-place {
      height: 100px;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 60px;
      text-align: center;
      background-color: $palette-ocean-color;
      width: 120px;
      height: 120px;
      border-radius: 50%;
      align-self: center;
      transition: 0.8s;
      margin-top: 20px;

      p {
        font-family: my-montserrat;
        width: 50%;
        padding-bottom: 5px;
        color: $palette-creamy-white-color;
        transition: 0.8s;
      }
    }

    @media screen and (max-width: 1375px) {
      .img-place {
        width: 50px;
        height: 50px;
        transition: 0.5s;
        p {
          font-size: 20px;
          transition: 1s;
        }
      }
    }

    .navigation-container,
    .social-container {
      display: flex;
      transition: 0.8s;
    }

    .navigation-container {
      height: 50%;
      width: 100%;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    @media screen and (max-width: 1375px) {
      .navigation-container {
        max-width: 50px;
        .letter {
          font-size: 0;
          transition: 0.5s;
        }
      }
    }

    .social-container {
      flex-direction: row;
      justify-content: center;
      align-items: flex-end;
      align-self: center;
      height: 100px;
      gap: 10px;
      transition: 0.5s;

      &.set-column {
        flex-direction: column;
        transition: 0.5s;
      }
    }

    @media screen and (max-width: 1375px) {
      .social-container {
        flex-direction: column;
      }
    }
  }
}

@media screen and (max-width: 1375px) {
  .aside-top-container {
    min-width: 50px;
    max-width: 60px;
    transition: 0.5s;
  }
}
@media screen and (max-width: 500px) {
  .aside-top-container {
    position: sticky;
    display: flex;

    min-width: 100vw;
    height: 50px;
    transition: 0.5s;

    .aside-container {
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 0;
      padding: 0;
      min-width: 100%;
      min-height: 50px;
      .navigation-container {
        flex-direction: row;
      }
      p {
        display: none;
      }
      .img-place {
        display: none;
      }
      .social-container {
        display: none;
      }
    }
  }
}
