@import url("https://fonts.googleapis.com/css2?family=Inconsolata&family=Montserrat&family=Russo+One&display=swap");
* {
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
}

body {
  background-color: #464b55;
}
body .App {
  position: relative;
}
body main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 90px;
  margin-left: 12vw;
  box-sizing: border-box;
}
body h1 {
  font-family: "Russo One", sans-serif;
  font-size: 50px;
}
body h2 {
  font-size: 40px;
}
body h3 {
  font-size: 30px;
}
body h4 {
  font-size: 25px;
  min-width: 210px;
}
body h5 {
  font-size: 20px;
}

.primary {
  background: transparent;
  color: #b9dbe4;
}

.secondary {
  background: transparent;
  color: #b9dbe4;
}

path {
  fill: #464b55;
}

aside {
  position: fixed;
  display: flex;
  justify-content: flex-start;
  background-color: #3c4048;
  min-width: 200px;
  width: 12%;
  height: 100%;
  transition: 0.5s;
  z-index: 100;
}
aside .version {
  width: 100%;
  text-align: center;
  color: #b9dbe4;
}
aside.narrow {
  width: 50px;
  transition: 0.5s;
}
aside .aside-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  box-sizing: border-box;
  padding: 20px 0;
}
aside .aside-container .img-place {
  height: 100px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 60px;
  text-align: center;
  background-color: #029ba3;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  align-self: center;
  transition: 0.8s;
  margin-top: 20px;
}
aside .aside-container .img-place p {
  font-family: my-montserrat;
  width: 50%;
  padding-bottom: 5px;
  color: #b9dbe4;
  transition: 0.8s;
}
@media screen and (max-width: 1375px) {
  aside .aside-container .img-place {
    width: 50px;
    height: 50px;
    transition: 0.5s;
  }
  aside .aside-container .img-place p {
    font-size: 20px;
    transition: 1s;
  }
}
aside .aside-container .navigation-container,
aside .aside-container .social-container {
  display: flex;
  transition: 0.8s;
}
aside .aside-container .navigation-container {
  height: 50%;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 1375px) {
  aside .aside-container .navigation-container {
    max-width: 50px;
  }
  aside .aside-container .navigation-container .letter {
    font-size: 0;
    transition: 0.5s;
  }
}
aside .aside-container .social-container {
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
  align-self: center;
  height: 100px;
  gap: 10px;
  transition: 0.5s;
}
aside .aside-container .social-container.set-column {
  flex-direction: column;
  transition: 0.5s;
}
@media screen and (max-width: 1375px) {
  aside .aside-container .social-container {
    flex-direction: column;
  }
}

@media screen and (max-width: 1375px) {
  aside {
    min-width: 50px;
    max-width: 60px;
    transition: 0.5s;
  }
}/*# sourceMappingURL=navigation-component.css.map */