@import './../../App.scss';

aside {
  position: fixed;
  display: flex;
  justify-content: flex-start;
  background-color: $secondary-dark-color;
  width: 12%;
  height: 100%;

  transition: 0.5s;
  z-index: 100;

  &.narrow {
    width: 50px;
    transition: 0.5s;
  }

  .aside-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    box-sizing: border-box;
    padding: 20px 0;

    .img-place {
      height: 100px;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: flex-start;

      img {
        transition: 0.5s;
      }
    }

    .navigation-container,
    .social-container {
      display: flex;
    }
    .navigation-container {
      height: 50%;
      width: 100%;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    .social-container {
      flex-direction: row;
      justify-content: center;
      align-items: flex-end;
      align-self: center;
      height: 100px;
      gap: 10px;
      transition: 0.5s;

      &.set-column {
        flex-direction: column;
        transition: 0.5s;
      }
    }
  }
}
