@import './../../../App.scss';

.word-container {
  display: flex;
  margin: 10px;
  gap: 10px;

  .parent-span {
    display: flex;
    flex-direction: column;
    justify-content: center;
    transform: scaleX(0);
    animation-name: increaseToAppar;
    animation-duration: 0.4s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;

    @keyframes increaseToAppar {
      to {
        transform: scaleX(1);
      }
    }

    p {
      transition: 0.3s;
      min-width: 30px;

      &.letter-bounces {
        color: $palette-additional-color;
        text-shadow: 10px 10px 7px $palette-stone-dark-grey-color;
        animation-name: pinting;
        animation-duration: 0.7s;
      }
    }

    @media (max-width: 500px) {
      p {
        min-width: 23px;
      }
    }

    @keyframes pinting {
      50% {
        transform: rotateX(60deg) scaleX(1.5);
      }
      70% {
        transform: rotateX(10deg) scaleX(1.1);
      }
      80% {
        transform: rotateX(40deg) scaleX(1.4);
      }
      100% {
        transform: rotateX(0deg) scaleX(1);
      }
    }
  }
}
