@import './../../App.scss';

.main-full {
  width: 85vw;
  .certification-container {
    display: flex;
    padding-top: 10px;

    .details-container {
      li {
        padding: 5px;
        margin-left: 13px;
        max-width: 800px;
        &::marker {
          content: '◾';
        }
      }
    }
  }

  &.primary {
    background-color: $primary-color;
    color: $secondary-color;
  }
  &.secondary {
    background-color: $secondary-color;
    color: $primary-color;
  }
}
