@import './../../App.scss';

.main-full {
  position: relative;
  width: 85vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  section {
    display: flex;
    flex-direction: column;
  }
}
