.main-full {
  display: flex;
  flex-direction: column;
  .certification-container {
    display: flex;

    h3 {
      font-size: 20px;
      font-weight: 700;
      padding-top: 10px;
      box-sizing: border-box;
      min-width: 200px;
    }
    .details-container {
      padding: 10px;
      li {
        padding: 5px;
        margin-left: 30px;
        &::marker {
          content: '◾';
        }
      }
    }
  }
}
