@import './../../../App.scss';
.side-open-menu {
  min-height: 300px;
  width: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-right: 1px solid $secondary-dark-color;
  background-color: $secondary-dark-color;
  &:hover {
    background-color: $primary-dark-color;
    .open-button {
      color: $primary-color;
    }
  }
}
