@import './../../../App.scss';
.side-open-menu {
  min-height: 300px;
  width: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-right: 1px solid $palette-stone-light-grey-color;
  background-color: $palette-stone-dark-grey-color;
  &:hover {
    path {
      fill: $palette-ocean-color;
    }
  }
}
