.contact-container {
  position: relative;
  width: 60%;
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;

  .comitment-message {
    line-height: 1.8;
    padding: 10px;
  }
}

@media screen and (max-width: 1375px) {
  .contact-container {
    width: 100%;
  }
}
