@import './../../App.scss';

.descreption-container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  min-width: 600px;
  width: 90%;
  gap: 20px;
  transition: 0.8s;

  .descreption {
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: left;
    word-break: keep-all;
    word-spacing: 5px;
    line-height: 160%;
    animation-duration: 1.6s;
    animation-fill-mode: both;
    top: 100%;
    color: transparent;
    transition: 0.8s;

    a {
      color: $palette-ocean-color;
      text-decoration: none;
      align-self: flex-end;
      margin-top: 20px;
      font-weight: 500;
    }
    &.show {
      animation-name: appear;
    }

    &.hide {
      animation-name: hideElement;
    }

    @keyframes appear {
      from {
        top: 100%;
        color: transparent;
      }
      to {
        top: 22%;
        color: $palette-stone-dark-grey-color;
      }
    }
    @keyframes hideElement {
      to {
        top: 100%;
        color: transparent;
      }
    }
  }
}
