@import './../../App.scss';

.descreption-container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 60%;
  gap: 20px;
  transition: 0.8s;

  .descreption {
    position: absolute;
    width: 100%;
    text-align: left;
    word-break: keep-all;
    word-spacing: 5px;
    line-height: 150%;
    animation-duration: 1.6s;
    animation-fill-mode: both;

    top: 100%;
    color: transparent;
    transition: 0.8s;

    &.show {
      animation-name: appear;
    }

    &.hide {
      animation-name: hideElement;
    }

    @keyframes appear {
      from {
        top: 100%;
        color: transparent;
      }
      to {
        top: 30%;
        color: $primary-color;
      }
    }
    @keyframes hideElement {
      // from {
      //   top: 30%;
      //   color: $primary-color;
      // }
      to {
        top: 100%;
        color: transparent;
      }
    }
  }
}
