@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');
@import './../../App.scss';

.title {
  font-family: 'Russo One', sans-serif;
  font-size: 70px;
  min-width: 600px;
  display: flex;

  .parent-span {
    transition: 0.5s;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: 0.5s;

    p {
      transition: 0.5s;
      min-width: 20px;

      &.letter-bounces {
        text-shadow: 10px 10px 7px $additional-color;
        animation-name: pinting;
        animation-duration: 0.7s;
      }
    }

    @keyframes pinting {
      50% {
        transform: rotateX(60deg);
      }
      70% {
        transform: rotateX(10deg);
      }
      80% {
        transform: rotateX(40deg);
      }
      100% {
        transform: rotateX(0deg);
      }
    }
  }
}
