$button-height: 75px;
.scroll {
  position: fixed;
  bottom: 25px;
  right: 25px;
  max-width: $button-height;
  max-height: $button-height;
  min-width: $button-height;
  min-height: $button-height;
  border-radius: 50%;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
