@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Inconsolata&family=Montserrat&family=Russo+One&display=swap");
* {
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
}

body {
  background-color: #464b55;
}
body .App {
  position: relative;
}
body main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 90px;
  margin-left: 12vw;
  box-sizing: border-box;
}
body h1 {
  font-family: "Russo One", sans-serif;
  font-size: 50px;
}
body h2 {
  font-size: 40px;
}
body h3 {
  font-size: 30px;
}
body h4 {
  font-size: 25px;
  min-width: 210px;
}
body h5 {
  font-size: 20px;
}

.primary {
  background: transparent;
  color: #b9dbe4;
}

.secondary {
  background: transparent;
  color: #b9dbe4;
}

path {
  fill: #464b55;
}

.certification-container {
  display: flex;
  align-items: flex-start;
  height: 110px;
  max-width: 850px;
  margin: 20px 0;
  padding-top: 0px;
  width: 0;
  opacity: 0;
  background-size: 0% 100%;
}
.certification-container p {
  margin: 10px 20px 0 20px;
  font-size: large;
  max-width: 100px;
  height: 100px;
  text-align: center;
  font-weight: 500;
}
.certification-container.even, .certification-container.odd {
  width: 0;
  opacity: 0;
  border-left: 4px solid #029ba3;
  animation-fill-mode: forwards;
}
.certification-container.even {
  margin-left: 90%;
  animation-name: fromLeftToRight;
  animation-duration: 1s;
}
@keyframes fromLeftToRight {
  to {
    margin-left: 20%;
    width: 70%;
    opacity: 1;
  }
}
.certification-container.odd {
  margin-left: -100%;
  animation-name: fromRightToLeft;
  animation-duration: 0.7s;
}
@keyframes fromRightToLeft {
  to {
    margin-left: 0%;
    width: 70%;
    opacity: 1;
  }
}
.certification-container .details-container h2,
.certification-container .details-container h3 {
  font-size: 0;
  opacity: 0;
  margin-bottom: 10px;
}
.certification-container .details-container h2 {
  animation-name: fontIncreaseH2;
  animation-duration: 1.5s;
  animation-fill-mode: forwards;
}
.certification-container .details-container h3 {
  max-width: 450px;
  height: 60px;
  color: #029ba3;
  animation-name: fontIncreaseH3;
  animation-duration: 2.1s;
  animation-fill-mode: forwards;
}
@keyframes fontIncreaseH2 {
  to {
    font-size: 40px;
    opacity: 1;
  }
}
@keyframes fontIncreaseH3 {
  to {
    font-size: 25px;
    opacity: 1;
  }
}
.certification-container .details-container ul {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  top: 50%;
  right: -200px;
  transform: translate(0, -50%);
  height: 50%;
  width: 35%;
  font-size: 20px;
  padding: 10px;
  z-index: 1000;
  opacity: 0;
  transition: 0.5s;
}
.certification-container .details-container ul li {
  opacity: 0;
  padding: 30px;
  line-height: 120%;
  margin-left: 13px;
  max-width: 100%;
  height: 44px;
  transition: 0.1s;
  letter-spacing: 1.2px;
}
.certification-container .details-container ul li::marker {
  content: "✔";
}
.certification-container:hover {
  background-size: 100% 100%;
  background-image: linear-gradient(to left, #464b55 40%, #029ba3 98%);
  background-repeat: no-repeat;
  transition: background-size 0.5s, background-color 0.5s;
  opacity: 1;
}
.certification-container:hover .details-container {
  z-index: 1000;
}
.certification-container:hover .details-container h3 {
  text-shadow: 1px 1px 1px #3c4048;
  transition: 0.5s;
}
.certification-container:hover .details-container ul {
  background-color: transparent;
  opacity: 1;
  z-index: 1000;
  right: -20px;
}
.certification-container:hover .details-container ul li {
  opacity: 1;
  transition: 1s;
}/*# sourceMappingURL=details-section-component.css.map */