$palette-creamy-white-color: #eaeaea;
$palette-stone-light-grey-color: #b2b2b2;
$palette-ocean-color: #029ba3;
$palette-stone-dark-grey-color: #3c4048;

$additional-color: rgb(4, 63, 119);

body {
  background-color: $palette-stone-light-grey-color;
  // color: $palette-creamy-white-color;

  .App {
    position: relative;
  }

  main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 90px;
    margin-left: 12vw;
    box-sizing: border-box;
  }

  h1 {
    font-size: 50px;
  }
  h2 {
    font-size: 40px;
  }

  h3 {
    font-size: 30px;
  }
  h4 {
    font-size: 25px;
    min-width: 210px;
  }
  h5 {
    font-size: 20px;
  }
}

.primary {
  background: transparent;
  color: $palette-stone-dark-grey-color;
}
.secondary {
  background: transparent;
  color: $palette-stone-dark-grey-color;
}

path {
  fill: $palette-stone-light-grey-color;
}
