$primary-color: #c0cbcb;
$primary-dark-color: rgb(7, 27, 54);
$secondary-color: rgb(50, 157, 157);
$secondary-dark-color: rgb(6, 21, 42);
$third-color: #bd1dcf;
$additional-color: rgb(4, 63, 119);

body {
  background-color: $primary-dark-color;
  color: $primary-color;

  .App {
    position: relative;
  }

  main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 90px;
    margin-left: 12vw;
    box-sizing: border-box;
  }

  h1 {
    font-size: 50px;
  }
  h2 {
    font-size: 40px;
  }

  h3 {
    font-size: 30px;
  }
  h4 {
    font-size: 25px;
    min-width: 210px;
  }
  h5 {
    font-size: 20px;
  }
}

.primary {
  background-color: $primary-dark-color;
  color: $secondary-color;
}
.secondary {
  background-color: $primary-dark-color;
  color: $primary-color;
}

path {
  fill: $third-color;
}
