$primary-color: #e5d8b3;
$secondary-color: rgb(107, 107, 72);
$third-color: #eea243;
$additional-color: rgb(4, 63, 119);

body {
  background-color: $primary-color;
  color: $secondary-color;

  .App {
    position: relative;
  }

  main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 90px;
    margin-left: 15vw;
    box-sizing: border-box;
  }

  h1 {
    font-size: 50px;
  }
  h2 {
    font-size: 40px;
  }

  h3 {
    font-size: 30px;
  }
  h4 {
    font-size: 25px;
    min-width: 210px;
  }
  h5 {
    font-size: 20px;
  }
}
