@import './../../../App.scss';

button {
  padding: 10px;
  width: 100%;
  display: flex;
  align-items: center;
  color: $third-color;
  transition: 0.5s;
  gap: 10px;
  .letter {
    transition: 0.8s;
  }
  svg {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &.hide {
    padding-left: 5px;
    transition: 0.7s;
    .letter {
      color: transparent;
      font-size: 0;
      transition: 0.2s;
    }
  }
  .material-icons {
    width: 30px;
    z-index: 1;
    margin-right: 5px;
  }
  &:hover {
    color: $primary-color;
    letter-spacing: 1.2px;
  }
}
