@import './../../../App.scss';

button {
  position: relative;
  padding: 10px;
  max-width: 250px;
  width: 100%;
  display: flex;
  align-items: center;
  color: $palette-ocean-color;
  transition: 0.3s;
  gap: 10px;
  .letter {
    transition: 0.3s;
  }

  &.hide {
    padding-left: 5px;
    transition: 0.7s;
    .letter {
      color: transparent;
      font-size: 0;
      transition: 0.2s;
    }
  }
  .material-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    margin-right: 3px;
  }

  &.highlight {
    color: $palette-creamy-white-color;
    letter-spacing: 1.05px;
    transition: 0.5s;
    path {
      transition: 0.5s;
      fill: $palette-ocean-color;
    }
  }

  &:hover {
    color: $palette-creamy-white-color;
    letter-spacing: 1.05px;
    transition: 0.5s;
    path {
      transition: 0.5s;
      fill: $palette-ocean-color;
    }
  }
}
